.navbar-costom{
    background-color: #2b2f29;
    height: 70px;
}

.nav-link-costom{
    color: #ffffff;
    margin-left: 50px;
}

.nav-link-costom:hover{
    color: aqua;
    scale: 1.2;
}

.section-1{
    background-color: #eaebeb;
    height: 100%;
    border-radius: 30px;
}